<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previous Question Papers</title>
</head>
<body>
    <div class="menu">
        <h1 class="logo">PLACEMENT PREDICTOR</h1>
        <button class="menu-item"><a href="/home/{{user_id}}">Home</a></button>
    </div>
    <h1>Previous Question Papers</h1>
    <ul>
        {% for paper in papers %}
            <li><a href="/viewqp/{{ paper.filename }}">{{ paper.name }}</a>&nbsp;<a href="/downloadqp/{{ paper.filename }}">Download</a></li>
        {% endfor %}
    </ul>
</body>
</html>
