<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Communication Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='grammer_test.css') }}">
    <script>
        function startRecording() {
            document.getElementById("message").innerText = "Recording... Please speak into the microphone.";
            timer()
        }
    </script>
</head>
<body>
    <div class="menu">
        <h1 class="logo">PLACEMENT PREDICTOR</h1>
        <button class="menu-item"><a class="logout-link" href="/home/{{user_id}}">Home</a></button>
    </div>
    <div class="container">
        <h1>Communication Assessment Test</h1>
        <p>Introduce yourself in 60 seconds:</p>
        <div id="message"></div>
        <div id="app"></div>
        {% if error %}
        <div class="alert alert-danger mt-3" role="alert">
            {{ error }}
        </div>
        {% endif %}
        <form action="/record/{{ user_id }}" method="post" onsubmit="startRecording()">
            <button id="record-btn" type="submit">Record Audio</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/com_timer.js') }}"></script>
</body>
</html>
