@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background: #f6f5f7;
} 
h1{
    padding-left:280px;
}
.card-container {
    padding-left: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px; 
}
.card {
    flex-basis: calc(20% - 10px); 
    margin: 20px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card img {
    width:100%;
    height: auto;
    border-radius:5px;
}
.content {
    text-align: center;
}
.btn{
    text-decoration: none;
    background-color: #FF4B2B;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.menu{
    background-color: #FF4B2B;
    width: 15%;
    height: 100vh;
    float: left;
    position: fixed;
}
.logo{
    padding:25px 18px;
    font-size: 22px;
    text-align: center;
    color: white;
}
.menu-item{
    font-size: large;
    color: white;
    background: none;
    border: none;
    text-align: center;
    width: 210px;
    height: 40px;
    border-radius: 0px 20px 20px 0px;
    padding-top: 3px;
    margin-bottom: 10px;
}
.logout-link{
    text-decoration: none;
    color: white;

}
    


.menu-item-logout {
    margin-left: 0px;
}
.menu-item:hover{
    background-color:rgba(255, 255, 255, 0.5);
    
}
