@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}  
.container{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}
.menu{
    background-color: #FF4B2B;
    width: 15%;
    height: 100vh;
    float: left;
}
.logo{
    padding:25px 18px;
    font-size: 22px;
    text-align: center;
    color: white;
}
.menu-item{
    font-size: large;
    color: white;
    background: none;
    border: none;
    text-align: center;
    width: 210px;
    height: 40px;
    border-radius: 0px 20px 20px 0px;
    padding-top: 3px;
    margin-bottom: 10px;
    

}
.menu-item:hover{
    background-color:rgba(255, 255, 255, 0.5);
    
}
.perc{
    display: inline-block;
}
.perc span{
    color: #FF4B2B;
}
a{
    color: white;
    text-decoration: none;
}
.prob{
    color: red;
}
.rec{
    font-size: 20px;
    margin-bottom: 5px;
}
.result{
    border-style:double;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    text-align: center;
    border-color:crimson
}