@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin:0;

}
.container{
    display: flex;
    flex-direction: row;
}
.menu{
    background-color: #952bff;
    width: 15%;
    height: 100vh;
    float: left;
    position: fixed;
}
.menu-item-logout {
    margin-left: 0px;
}
.menu-item:hover{
    background-color:rgba(255, 255, 255, 0.5);
    
}
.logo{
    padding:25px 18px;
    font-size: 22px;
    text-align: center;
    color: white;
}
.menu-item{
    font-size: large;
    color: white;
    background: none;
    border: none;
    text-align: center;
    width: 210px;
    height: 40px;
    border-radius: 0px 20px 20px 0px;
    padding-top: 3px;
    margin-bottom: 10px;
    

}
.logout-link{
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits color from parent element */
}
.tbl{
    margin: 50px;
    width: 100%;
    border: 2px solid;
    border-collapse:separate;
    margin-left: 270px;
}

.tbl th{
    height: 70px;
    width:20%;
    padding: 15px;
}

.tbl td{
    text-align: left;
    padding: 15px 30px;

}
.tbl tr:hover{
    background-color: rgb(149, 43, 255, 0.3);
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}