<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_home.css') }}">
    <script>
    async function displayStudent(){
        window.location.href=`/students`;
    }
    async function logout(){
        window.location.href=`/admin_login`;
    }
    async function placementForm(){
        window.location.href=`/placement_form`;
    }
    </script>
</head>
<body>
    <div class="menu">
        <h1 class="logo">PLACEMENT PREDICTOR</h1>
        <button class="menu-item" onclick="logout()">Logout</button>   
    </div>
    <div class="profile">
        <h1 class="title">Profile</h1>
        <img class="profile-img" src="{{ url_for('static', filename='images/dp.jpg') }}" alt="profile img">
        <h3>admin name</h3>
        <p>placemnt Coordinator</p>
        <div class="btn">
            <button class="btn-1" onclick="displayStudent()">Student Details</button>
            <button class="btn-2" onclick="placementForm()">Post New Placement</button>
        </div>
    </div>
</body>
</html>
