<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placements</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='drive.css') }}">
    <script>
        function toggleDetails(link) {
            var details = link.nextElementSibling;
            if (details.style.display === "none") {
                details.style.display = "block";
                link.textContent = "View Less";
            } else {
                details.style.display = "none";
                link.textContent = "View More";
            }
        }
    </script>
</head>
<body>
    <div class="menu">
        <h1 class="logo">PLACEMENT PREDICTOR</h1>
        <button class="menu-item">Home</button>
    </div>
    <div class="title">
        <h2 class="t1">Upcoming Drives</h2>
    </div>
    <div class="container">
        {% for doc in newplacements %}
        <div class="placement-list">
            {% set placement = doc.to_dict() %}
            <h3 style="padding-bottom: 20px;">{{ placement['cname'] }}</h3>
            <p>Location : {{ placement['location'] }}</p>
            <p>Position : {{ placement['position'] }}</p>
            <a class="btn" href="{{ placement['reg-form'] }}">Apply</a>
            <a class="view-more" href="#" onclick="toggleDetails(this)">View More</a>
            <div class="additional-details" style="display: none;">
                <p>Description : {{ placement['desc'] }}</p>
                <p>Date of Drive : {{ placement['date'] }}</p>
                <p>Branches allowed : {{ placement['dept'] }}</p>
                <p>Salary offering : {{ placement['salary'] }}</p>
                <p class="l-date">Last date of apply : {{ placement['lastdate'] }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

</body>
</html>