<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placements</title>
</head>
<body>
    <div>
        <h2>Upcoming Drives</h2>
    </div>
    {% for doc in newplacements %}
    <div>
        {% set placement = doc.to_dict() %}
        <h1>Company Name : {{ placement['cname'] }}</h1>
        <p>Location : {{ placement['location'] }}</p>
        <p>Position : {{ placement['position'] }}</p>
        <p>Criteria : {{ placement['criteria'] }}</p>
        <p>Date of Drive : {{ placement['date'] }}</p>
        <p>Branches allowed : {{ placement['dept'] }}</p>
        <p>Slary offering : {{ placement['salary'] }}</p>
        <p>Last date of apply : {{ placement['lastdate'] }}</p>
        <a href="{{ placement['reg-form'] }}">apply</a>
    </div>
{% endfor %}

</body>
</html>