<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placements</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='drive.css') }}">
    <script>
        function toggleDetails(element) {
            var parent = element.parentNode;
            var dots = parent.querySelector(".dots");
            var moreText = parent.querySelector(".more");
            var btnText = parent.querySelector(".view-more");
            if (dots.style.display === "none") {
                dots.style.display = "inline";
                btnText.innerHTML = "View More"; 
                moreText.style.display = "none";
            } else {
                dots.style.display = "none";
                btnText.innerHTML = "View Less"; 
                moreText.style.display = "inline";
            }
        }
    </script>
</head>
<body>
    <div class="menu">
        <h1 class="logo">PLACEMENT PREDICTOR</h1>
        <button class="menu-item"><a class="logout-link" href="/home/{{user_id}}">Home</a></button>
    </div>
    <div class="title">
        <h2 class="t1">Upcoming Drives</h2>
    </div>
    <div class="container">
        {% for doc in newplacements %}
        <div class="placement-list">
            {% set placement = doc.to_dict() %}
            <h3 style="padding-bottom: 20px;">{{ placement['cname'] }}</h3>
            <p>Location : {{ placement['location'] }}</p>
            <p>Position : {{ placement['position'] }}</p>
            <span class="dots">...</span>
            <span class="more" style="display: none;">
                <p>Description : {{ placement['desc'] }}</p>
                <p>Date of Drive : {{ placement['date'] }}</p>
                <p>Branches allowed : {{ placement['dept'] }}</p>
                <p>Salary offering : {{ placement['salary'] }}</p>
                <p class="l-date">Last date of apply : {{ placement['lastdate'] }}</p>
                
            </span><br>
            <a class="btn" href="{{ placement['reg-form'] }}">Apply</a>
            <button class="view-more" onclick="toggleDetails(this)">View More</button>
        </div>
        {% endfor %}
    </div>
</body>
</html>