<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Link your custom CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <!-- Include Firebase SDK script -->
    <script src="https://www.gstatic.com/firebasejs/13.7.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/13.7.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/13.7.1/firebase-firestore.js"></script>
    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyBF-gktODbomUIyPOT_MWuGqxFwDP-Mx8I",
            authDomain: "placementpredictor.firebaseapp.com",
            databaseURL: "https://placementpredictor-default-rtdb.firebaseio.com",
            projectId: "placementpredictor",
            storageBucket: "placementpredictor.appspot.com",
            messagingSenderId: "712644933317",
            appId: "1:712644933317:web:1ffede201bcd0764c322ac",
            measurementId: "G-WE3JELDMP5"
        };

        firebase.initializeApp(firebaseConfig);
        window.firebaseApp = firebase.app();
        window.auth = firebase.auth();
        window.db = firebase.firestore();

        // ... other JavaScript code ...
    </script>
    <script>
        async function handlePredict(user_id) {
            window.location.href = `/predict/${user_id}`;
        }
    </script>
    <script>
        async function aptitude_test(user_id) {
            window.location.href = `/aptitude/${user_id}`;
        }

        async function com_test(user_id) {
            window.location.href = `/communication/${user_id}`;
        }
    </script>
    <script>
        async function logout() {
        try {
            await firebase.auth().signOut();
            window.location.href = '/';
        } catch (error) {
            console.error('Error logging out:', error);
        }
    }
    </script>
</head>
<body>
    <div class="menu">
        <h1 class="logo">PLACEMENT PREDICTOR</h1>
        <button class="menu-item">Courses</button>
        <button class="menu-item"><a class="logout-link" href="/">Logout</a></button>
    </div>
    <div class="profile">
        <h1 class="title">Profile</h1>
        <img class="profile-img" src="{{ url_for('static', filename='images/dp.jpg') }}" alt="profile img">
        <div class="wrapper">
            {% if userData %}
                <p class="para-value">{{ userData.name }}</p>
                <div class="wrapper-left">
                    <p class="para">Email: <p class="wr-value">{{ userEmail }}</p></p>
                    {% if userData.age %}
                        <p class="para">Age: <p class="wr-value">{{ userData.age }}</p></p>
                    {% endif %}
                    {% if userData.gender %}
                        <p class="para">Gender: <p class="wr-value">{{ userData.gender }}</p></p>
                    {% endif %}
                    {% if userData.dob %}
                        <p class="para">Date of Birth: <p class="wr-value">{{ userData.dob }}</p></p>
                    {% endif %}
                    {% if userData.college %}
                        <p class="para">College: <p class="wr-value">{{ userData.college }}</p></p>
                    {% endif %}
            
                </div>
                <div class="wrapper-mid">
                    
                    {% if userData.dept %}
                        <p class="para">Department: <p class="wr-value">{{ userData.dept }}</p></p>
                    {% endif %}
                    {% if userData.yop %}
                        <p class="para">Year of graduation: <p class="wr-value">{{ userData.yop }}</p></p>
                    {% endif %}
                    {% if userData.cgpa %}
                        <p class="para">CGPA: <p class="wr-value">{{ userData.cgpa }}</p></p>
                    {% endif %}
                    {% if userData.backlogs %}
                        <p class="para">Have backlogs? <p class="wr-value">{{ userData.backlogs }}</p></p>
                    {% endif %}
                    {% if userData %}
                        <p class="para">Number of internships: <p class="wr-value">{{ userData.num_internships }}</p></p>
                    {% endif %}
                    
                    
                </div>
                <div class="wrapper-right">
                    {% if userData.tenth %}
                        <p class="para">Tenth Percentage: <p class="wr-value">{{ userData.tenth }}</p></p>
                    {% endif %}
                    {% if userData.twelth %}
                        <p class="para">Twelth Percentage: <p class="wr-value">{{ userData.twelth }}</p></p>
                    {% endif %}
                    {% if userData %}
                        <p class="para">Aptitude score: <p class="wr-value">{{ userData.aptitude }}</p></p>
                    {% endif %}
                    {% if userData %}
                        <p class="para">Communication score: <p class="wr-value">{{ userData.communication }}</p></p>   
                    {% endif %}
                    <!-- Include other user data fields here -->
                </div>
            {% endif %}
        </div>
    </div>
    <div class="profile-btn">
        <button class="btn-1" onclick="aptitude_test('{{ user_id }}')">Take Aptitude Test</button>
        <button class="btn-2" onclick="com_test('{{ user_id }}')">Take Communication Assessment</button>
        <button class="btn-3" onclick="handlePredict('{{ user_id }}')">Predict</button>
    </div>
</body>
</html>