<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='placement_form.css') }}">
    <title>New Placement</title>
</head>
<body>
    <div class="menu">
        <h1 class="logo">PLACEMENT PREDICTOR</h1>
        <button class="menu-item" onclick="home()">Home</button>   
    </div>
    <div class="form">
        <form action="/postnewplacement" method="POST">
            <label for="company">Company Name:</label><br>
            <input type="text" id="company" name="cname"><br>
            <label for="company">Location:</label><br>
            <input type="text" id="location" name="location"><br>
            <label for="lpa">Position</label><br>
            <input type="text" id="Position" name="Position"><br>
            <label for="criteria">Criteria</label><br>
            <input type="text" id="criteria" name="criteria"><br>
            <label for="date">Date</label><br>
            <input type="date" id="date" name="date"><br>
            <label for="lpa">Branches</label><br>
            <select class="small-input" name="dept" id="dept" required>
                <option value="">Select</option>
                <option value="Computer Science">Computer Science</option>
                <option value="Information Technology">Information Technology</option>
                <option value="Electronics And Communication">Electronics & Communication</option>
                <option value="Electrical">Electrical & Electronics</option>
                <option value="Mechanical">Mechanical Engineering</option>
                <option value="Civil">Civil Engineering</option>
            </select><br>
            <label for="lpa">Salary</label><br>
            <input type="text" id="lpa" name="salary"><br>
            <label for="lpa">Last date for registration</label><br>
            <input type="date" id="l-date" name="lastdate"><br>
            <!--<a href="https://docs.google.com/forms/u/0/?tgif=d&ec=asw-forms-globalnav-goto">create form</a><br> -->
            <label for="form">form link</label><br>
            <input type="url" id="form" name="reg-form"><br>
            <button class="submit" type="submit">Submit</button>
            
        </form>
    </div>
</body>
</html>