<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
</head>
<body>
    <h1>Placement Predictor</h1>
    <form action="/signup_page" method="post" class="form-signup">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <label for="confirmPassword">Confirm Password:</label><br>
        <input type="password" id="confirmPassword" name="confirmPassword" required><br>
        <button class="btn btn-lg btn-secondary btn-block mt-3" type="submit">Signup</button>
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
</body>
</html>
