<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='student_details.css') }}">
    <title>Student Details</title>
</head>
<body>
    <div class="container">
        <div class="menu">
            <h1 class="logo">PLACEMENT PREDICTOR</h1>
            <button class="menu-item" onclick="logout()">Logout</button>   
        </div>
            
        <table class="tbl">
            <tr>
                <th>NAME</th>
                <th>DEPARTMENT</th>
                <th>CGPA</th>
                <th>APTITUDE SCORE</th>
                <th>Communication Score</th>
                <th>Predicted Placement</th>
                <th>Placement Chance %</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.dept }}</td>
                    <td>{{ user.cgpa }}</td>
                    <td>{{ user.aptitude }}</td>
                    <td>{{ user.communication }}</td>
                    <td>{{ user.placement_pre }}</td>
                    <td>{{ user.placement_chance }}</td>
                </tr>
            {% endfor %}
         </table>
            
        
    </div>
</body>
</html>